#onlineordering_plugin {
    padding: 5px;
}

#onlineordering_error {
    color: #000000;
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #FF9999;
    background: #FFAAAA url('images/error.gif') no-repeat;
}

#onlineordering_error #parameter {
    color: #FF0000;
    font-weight: bold;
}